@model IEnumerable<Category>
@{
    ViewData["Title"] = "Категорії";
}

@if(Model.Count() > 0)
{
    <div class="d-flex">
        <h1 class="flex-grow-1">Категорії</h1>
        <div class="flex-grow-1 text-end">
            <a class="btn btn-dark" asp-controller="Category" asp-action="Create">Додати категорію</a>
        </div>
    </div>
    <div>
        <table class="table table-striped w-75 m-auto">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col" class="text-center">Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var category in Model)
                {
                    <tr>
                        <td>@category.Id</td>
                        <td class="text-center">@category.Name</td>
                        <td class="text-end">
                            <a asp-action="Update" asp-route-id="@category.Id" class="btn btn-success m-1">Редагувати</a>
                            <button onclick="deleteCategory('@System.Text.Json.JsonSerializer.Serialize(category)')" data-bs-toggle="modal" data-bs-target="#deleteCategory" class="btn btn-danger m-1">Видалити</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <h1 class="text-center">Категорії не знайдено</h1>
}

<div id="deleteCategory" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Видалити категорію</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="categoryDeleteMessage">Ви дійсно хочете видалити категорію?</p>
            </div>
            <div class="modal-footer">
                <a id="categoryDeleteUrl" class="btn btn-danger">Видалити</a>
                <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Скасувати</button>
            </div>
        </div>
    </div>
</div>